{% extends "base.html" %}
{% block title %}Change email{% endblock %}

{% block head %}
{{ super() }}
    <style>
    </style>
{% endblock %}

{% block navbar %}
{{ super() }}
{% endblock %}

{% block dashboard %}
{{ super() }}
{% endblock %}

{% block content %}
{{ super() }}

<div class="mdl-color--white mdl-shadow--2dp mdl-cell mdl-cell--12-col mdl-grid">
 <h4> Change email</h4>

<form method="post" name="login">
            {{form.hidden_tag()}}
            <div>
                <label for="email ">Email</label>
                <div class="mdl-textfield mdl-js-textfield">
                  {{form.email (size=64)}}
                </div>
            </div>
            {% for error in form.errors.email %}
            <span style="color: gray;">{{error}}</span>
            {% endfor %}
            <div>
                <label for="password">Password</label>
                <div class="mdl-textfield mdl-js-textfield">
                  {{form.password(size=64)}}
                </div>
            </div>
            {% for error in form.errors.password %}
            <span style="color: gray;">{{error}}</span>
            {% endfor %}
         
            <div>
             <button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">Change email</button>
            </div>
        </form>
        
</div>


{% endblock %}



{% block scripts %}
{{ super() }}
{% endblock %}
