{% extends "base.html" %}
{% block title %}Change email{% endblock %}

{% block head %}
{{ super() }}
<style>
</style>
{% endblock %}

{% block navbar %}
{{ super() }}
{% endblock %}

{% block dashboard %}
{{ super() }}
{% endblock %}

{% block content %}
{{ super() }}

<div class="container">
    <div class="row">
        <div class="col s12">
            <div class="card-panel light-grey">
                <h4> Change email</h4>

                <form method="post" name="login">

                    {{form.hidden_tag()}}
                    <div class="input-field">
                        <label for="email ">Email</label>
                        {{form.email (size=64)}}
                    </div>
                    {% for error in form.errors.email %}
                    <p style="color: gray;">{{error}}</p>
                    {% endfor %}

                    <div class="input-field">
                        <label for="password">Password</label>
                        {{form.password(size=64)}}
                    </div>

                    {% for error in form.errors.password %}
                    <p style="color: gray;">{{error}}</p>
                    {% endfor %}

                    <div class="input-field">
                        <button type="submit" class="waves-effect waves-light btn">Change email</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}



{% block scripts %}
{{ super() }}
{% endblock %}
