{% extends "base2.html" %}
{% block title %}Login{% endblock %}
{% block head %}
{{ super() }}
    <style>
    </style>
{% endblock %}


{% block content %}
{{ super() }}
<div class="demo-charts mdl-color--white mdl-shadow--2dp mdl-cell mdl-cell--12-col mdl-grid">

    <div class="mdl-cell mdl-cell--6-col">
        <h5>Login</h5>

        <form method="post" name="login">
            {{form.hidden_tag()}}
            <div class="mdl-textfield mdl-js-textfield">
                <div>
                  {{form.email(class_="mdl-textfield__input")}}
                  <label for="email" class="mdl-textfield__label">Email</label>
              </div>
            </div>
            {% for error in form.errors.email %}
            <div style="color:red;">{{error}}</div>
            {% endfor %}

            <div class="mdl-textfield mdl-js-textfield">
                {{form.password(class_="mdl-textfield__input")}}
                <label for="password" class="mdl-textfield__label">Password</label>
            </div>
            {% for error in form.errors.password %}
            <div style="color:red;">{{error}}</div>
            {% endfor %}

            <div>
              <label for="remember_me">
                {{form.remember_me}} <span>Remember Me</span>
              </label>
            </div>

            <div>
                <button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">Log in</button>

                <p>Forgot your password? <a href="{{ url_for('auth.password_reset_request') }}">Click here to reset it</a>.</p>
            </div>
        </form>
    </div>

    <div class="mdl-cell mdl-cell--6-col">
        <h5>New user ?</h5>
        <ul class="demo-list-item mdl-list">
          <li class="mdl-list__item">
            <span class="mdl-list__item-primary-content">
              Join the best community
            </span>
          </li>
          <li class="mdl-list__item">
            <span class="mdl-list__item-primary-content">
              Discuss about everything you want with buddies all over the world
            </span>
          </li>
          <li class="mdl-list__item">
            <span class="mdl-list__item-primary-content">
              And many more features soon...
            </span>
          </li>
        </ul>
        <p><a class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" href="{{ url_for('auth.register') }}">Sign up here</a></p>
    </div>

</div>


{% endblock %}


{% block scripts %}
{{ super() }}
{% endblock %}
