{% extends "base2.html" %}
{% block title %}Login{% endblock %}
{% block head %}
{{ super() }}
<style>
</style>
{% endblock %}


{% block content %}
{{ super() }}
<section class="container">

    <div class="row">

        <div class="col s12">

            <div class="card-panel light-grey">

                <div class="row">
                    
                    <div id="signin" class="col s12">
                        <h5>Signin</h5>

                        <form method="post" name="login">

                            {{form.hidden_tag()}}
                            <div class="input-field">
                                {{form.email()}}
                                <label for="email" class="validate">Email</label>
                            </div>

                            {% for error in form.errors.email %}
                            <p style="color:red;">{{error}}</p>
                            {% endfor %}

                            <div class="input-field">
                                {{form.password()}}
                                <label for="password" class="validate">Password</label>
                            </div>

                            {% for error in form.errors.password %}
                            <p style="color:red;">{{error}}</p>
                            {% endfor %}

                            <p>
                                {{form.remember_me()}}
                                <label for="remember_me">Remember Me</label>

                            </p>

                            <div class="input-field">
                                <button type="submit" class="waves-effect waves-light btn">Signin</button>
                            </div>

                            <div class="input-field">
                                <p>Forgot your password? <a href="{{ url_for('auth.password_reset_request') }}">Click here to reset it</a>.</p>
                            </div>
                        </form>
                    </div>


                </div>

            </div>
        </div>
    </div>
</section>


{% endblock %}


{% block scripts %}
{{ super() }}
{% endblock %}
