{% extends "base2.html" %}
{% block title %}Login{% endblock %}
{% block head %}
{{ super() }}
<style>
</style>
{% endblock %}

{% block titleheadline %}
    Welcome to socialite !
{% endblock %}

{% block textheadline %}
    Have fun and come back later !
{% endblock %}

{% block content %}
{{ super() }}
<div class="container">

    <div class="row">

        <div class="col s12 m6 l6">
            <h5>Signin</h5>

            <form method="post" name="login">
                {{form.hidden_tag()}}
                <div class="input-field">
                    {{form.email(class_="mdl-textfield__input")}}
                    <label for="email" class="validate">Email</label>
                </div>
                {% for error in form.errors.email %}
                <p style="color:red;">{{error}}</p>
                {% endfor %}

                <div class="input-field">
                    {{form.password(class_="mdl-textfield__input")}}
                    <label for="password" class="validate">Password</label>
                </div>
                {% for error in form.errors.password %}
                <p style="color:red;">{{error}}</p>
                {% endfor %}

                <div class="input-field">
                    {{form.remember_me}}
                    <label for="remember_me">Remember Me</label>

                </div>

                <div class="input-field">
                    <button type="submit" class="waves-effect waves-light btn">Login</button>
                </div>

                <div class="input-field">
                    <p>Forgot your password? <a href="{{ url_for('auth.password_reset_request') }}">Click here to reset it</a>.</p>
                </div>
            </form>
        </div>

        <div class="col s12 m6 l6">
            <h5>New user ?</h5>
            <ul class="browser-default">
                <li>
                    <i class="material-icons">contacts</i>
                    Join the best community
                </li>
                <li>
                    <i class="material-icons">contact_mail</i>
                    Discuss about everything you want with buddies all over the world
                </li>
                <li>
                    <i class="material-icons">code</i>
                    And many more features soon...
                </li>
            </ul>
            <div class="input-field">
                <a class="waves-effect waves-light btn" href="{{ url_for('auth.register') }}">Sign up</a>
            </div>
        </div>
    </div>

</div>


{% endblock %}


{% block scripts %}
{{ super() }}
{% endblock %}
