{% extends "base2.html" %}
{% block title %}Register{% endblock %}
{% block head %}
{{ super() }}
    <style>
    </style>
{% endblock %}


{% block content %}
{{ super() }}
<div class="demo-charts mdl-color--white mdl-shadow--2dp mdl-cell mdl-cell--12-col mdl-grid">

    <div class="mdl-cell mdl-cell--6-col">
        <h5>Register</h5>

        <form method="post" name="register">
            {{form.hidden_tag()}}

            <div class="mdl-textfield mdl-js-textfield">
                <div>
                  {{form.email(class_="mdl-textfield__input")}}
                  <label for="email" class="mdl-textfield__label">Email</label>
                </div>
            </div>
            {% for error in form.errors.email %}
            <span style="color: red;">{{error}}</span>
            {% endfor %}

            <div class="mdl-textfield mdl-js-textfield">
                <div>
                  {{form.username(class_="mdl-textfield__input")}}
                  <label for="username" class="mdl-textfield__label">Username</label>
                </div>
            </div>
            {% for error in form.errors.username %}
            <span style="color: red;">{{error}}</span>
            {% endfor %}

            <div class="mdl-textfield mdl-js-textfield">
                <div>
                  {{form.password(class_="mdl-textfield__input")}}
                  <label for="password" class="mdl-textfield__label">Password</label>
                </div>
            </div>
            {% for error in form.errors.password %}
            <span style="color: red;">{{error}}</span>
            {% endfor %}

            <div class="mdl-textfield mdl-js-textfield">

                <div>
                  {{form.password2(class_="mdl-textfield__input")}}
                  <label for="password2" class="mdl-textfield__label">Password confirmation</label>
                </div>
            </div>
            {% for error in form.errors.password2 %}
            <span style="color: red;">{{error}}</span>
            {% endfor %}

            <div>
            <button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">Register</button>
            </div>
        </form>
    </div>


</div>


{% endblock %}



{% block scripts %}
{{ super() }}
{% endblock %}
