{% extends "base2.html" %}
{% block title %}Reset Password{% endblock %}
{% block head %}
{{ super() }}
<style>
</style>
{% endblock %}


{% block content %}
{{ super() }}
<section class="container">

    <div class="row">
        <div class="col s12">
            <div class="card-panel light-grey">

                <h5>Reset Password</h5>

                <form method="post" name="login">
                    {{form.hidden_tag()}}
                    <div class="input-field">
                        <label for="email">Email</label>
                        {{form.email (size=64)}}
                    </div>

                    {% for error in form.errors.email %}
                    <p style="color: gray;">{{error}}</p>
                    {% endfor %}

                    <div class="input-field">
                        <label for="password">Password</label>
                        {{form.password (size=64)}}
                    </div>

                    {% for error in form.errors.password %}
                    <p style="color: gray;">{{error}}</p>
                    {% endfor %}


                    <div class="input-field">
                        <label for="password2">Password confirmation</label>
                        {{form.password2 (size=64)}}
                    </div>

                    {% for error in form.errors.password2 %}
                    <p style="color: gray;">{{error}}</p>
                    {% endfor %}


                    <div class="input-field">
                        <button type="submit" class="waves-effect waves-light btn">Reset password</button>
                    </div>
                </form>

            </div>
        </div>
    </div>

</section>


{% endblock %}


{% block scripts %}
{{ super() }}
{% endblock %}
