{% extends "base2.html" %}
{% block title %}Reset Password{% endblock %}
{% block head %}
{{ super() }}
    <style>
    </style>
{% endblock %}


{% block content %}
{{ super() }}
<div class="demo-charts mdl-color--white mdl-shadow--2dp mdl-cell mdl-cell--12-col mdl-grid">

        <h5>Reset Password</h5>

        <form method="post" name="login">
            {{form.hidden_tag()}}
            <div>
                <label for="email">Email</label>
                <div class="mdl-textfield mdl-js-textfield">
                  {{form.email (size=64)}}
                </div>
            </div>
            {% for error in form.errors.email %}
            <span style="color: gray;">{{error}}</span>
            {% endfor %}
            
            
            <div>
             <button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">Reset</button>
            </div>
        </form>

</div>


{% endblock %}


{% block scripts %}
{{ super() }}
{% endblock %}
