<section>
    <div>
        <div>
            {% for post in posts %}
            <div class="flex flex-wrap items-center mb-3 border-b border-gray-400 pb-2">
                <a href="{{ url_for('.user', username=post.author.username) }}">
                    <img src="{{ post.author.gravatar(size=50) }}" class="w-10 h-10 rounded-full mr-4">
                </a>
                <div class="text-sm py-3">
                    {% if post.body_html %}
                    {{ post.body_html | safe }} 
                    {% else %}
                    {{ post.body }}
                    {% endif %}

                    <p class="text-gray-900 leading-none mt-4"><a class="underline text-teal-500 hover:text-teal-800" href="{{ url_for('.user', username=post.author.username) }}">{{ post.author.username }}</a> {{ moment(post.timestamp).fromNow() }}</p>

                    <p class="text-sm">
                        {% if current_user == post.author %}
                        <a href="{{ url_for('.edit', id=post.id) }}" class="text-teal-500 hover:text-teal-800"><i class="material-icons">edit</i></a>
                        <a href="{{ url_for('.delete', id=post.id) }}" class="text-teal-500 hover:text-teal-800"><i class="material-icons">delete</i></a>
    
                        {% elif current_user.is_administrator() %}
                        <a href="{{ url_for('.edit', id=post.id) }}" class="text-teal-500 hover:text-teal-800">Edit as Admin</a>
                        {% endif %}
                        <a href="{{ url_for('.post', id=post.id) }}" class="text-teal-500 hover:text-teal-800"><i class="material-icons">insert_link</i></a>
                        <a href="{{ url_for('.post', id=post.id) }}#comments">
                            {% if post.comments.count() <= 1 %}
                                <span class="bg-teal-500 hover:bg-teal-700 text-white font-bold py-1 px-2 rounded-full">{{ post.comments.count() }} comment</span>
                            {% else %}
                                <span class="bg-red-500 hover:bg-red-700 text-white font-bold py-1 px-2 rounded-full">{{ post.comments.count() }} comments</span>
                            {% endif %}
                        </a>
                    </p>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>

<section>
    <div>
        {% include 'partials/_comments.html' %}
    </div>
</section>
