<footer class="page-footer blue">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">socialite</h5>
        <p class="grey-text text-lighten-4">An app for sharing.</p>
      </div>
      <div class="col l3 s12">
        <h5 class="white-text">Settings</h5>
        <ul>
            {% if current_user.can(Permission.MODERATE_COMMENTS) %}
            <li><a class="white-text" href="{{ url_for('main.moderate') }}">Moderate</a></li>
            {% endif %}
            {% if current_user.is_authenticated() %}
            <li><a class="white-text" href="{{ url_for('main.user', username=current_user.username) }}">Profile</a></li>
            {% endif %}
            <li><a class="white-text" href="{{ url_for('main.index') }}">Home</a></li>
            <li><a class="white-text" href="{{ url_for('main.contact_us') }}">Contact us</a></li>
            <li><a class="white-text" href="http://the-socialite-app.herokuapp.com/sitemap.xml">Sitemap</a></li>
        </ul>
      </div>
      <div class="col l3 s12">
        <h5 class="white-text">Other</h5>
        <ul>
            <li><a class="white-text" href="/about">About</a></li>
            <li><a class="white-text" href="/help">Help</a></li>
            <li><a class="white-text" href="/api">API</a></li>
            <li><a class="white-text" href="/legal">Legal</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
    Made by <a class="teal-text text-lighten-3" href="http://materializecss.com">Materialize</a>
    </div>
  </div>
</footer>
