<div class="demo-drawer mdl-layout__drawer mdl-color--blue-grey-900 mdl-color-text--blue-grey-50">
    <header class="demo-drawer-header">
    {% if current_user.is_authenticated()  %}
      <img src="{{ current_user.gravatar(size=256) }}" class="demo-avatar">
    {% else %}
        <img src="{{ url_for('static', filename='images/user.jpg') }}" class="demo-avatar">
    {% endif %}
      <div class="demo-avatar-dropdown">
        {% if current_user.is_authenticated() %}
            <span>{{ current_user.email }}</span>
        {% else %}
            <span>Hello, Stranger !</span>
        {% endif %}
        <div class="mdl-layout-spacer"></div>
        <button id="accbtn" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon">
          <i class="material-icons" role="presentation">arrow_drop_down</i>
          <span class="visuallyhidden">Accounts</span>
        </button>
        <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect" for="accbtn">
            {% if current_user.is_authenticated() %}
            <li class="mdl-menu__item"><a href="{{ url_for('auth.logout') }}">Sign Out</a></li>
            {% else %}
            <li class="mdl-menu__item"><a href="{{ url_for('auth.login') }}"><i class="material-icons">add</i>Sign In</a></li>
            {% endif %}
        </ul>
      </div>
    </header>
    <nav class="demo-navigation mdl-navigation mdl-color--blue-grey-800">
      <a class="mdl-navigation__link" href="{{ url_for('main.index') }}"><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">home</i>Home</a>
      {% if current_user.is_authenticated() %}
      <a class="mdl-navigation__link" href="{{ url_for('main.user', username=current_user.username) }}"><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">account_circle</i>Profile</a>
      {% endif %}
      <!--<a class="mdl-navigation__link" href=""><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">inbox</i>Inbox</a>
      <a class="mdl-navigation__link" href=""><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">delete</i>Trash</a>-->
      {% if current_user.can(Permission.MODERATE_COMMENTS) %}
      <a class="mdl-navigation__link" href="{{ url_for('main.moderate') }}"><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">report</i>Moderate</a>
      {% endif %}
      <!--<a class="mdl-navigation__link" href=""><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">forum</i>Forums</a>
      <a class="mdl-navigation__link" href=""><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">flag</i>Updates</a>
      <a class="mdl-navigation__link" href=""><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">local_offer</i>Promos</a>
      <a class="mdl-navigation__link" href=""><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">shopping_cart</i>Purchases</a>
      <a class="mdl-navigation__link" href=""><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">people</i>Social</a>-->
      <div class="mdl-layout-spacer"></div>
      <a class="mdl-navigation__link" href="/help"><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">help_outline</i><span class="visuallyhidden">Help</span></a>
      <a class="mdl-navigation__link" href="/developpers"><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">help_outline</i><span class="visuallyhidden">Dev</span></a>
    </nav>
</div>
