<div class="bg-white border-b border-gray-400" role="navigation">
    <div class="container mx-auto px-4 flex items-center py-4">
        <nav class="w-2/5">
            <a href="{{ url_for('main.index') }}" class="text-sm mr-4 font-semibold pb-4 text-gray-800 hover:text-teal-600 border-b-2 border-solid border-transparent hover:border-teal-600">
                <i class="material-icons">speaker_notes</i> Feed
            </a>
        </nav>
        <div class="w-1/5 text-center">
            <a id="logo-container" class="text-sm mr-4 font-semibold pb-4 text-gray-800 hover:text-teal-600 border-b-2 border-solid border-transparent" href="{{ url_for('main.index') }}" class="brand-logo">socialite</a>
        </div>
        <div class="w-2/5 flex justify-end">
            {% if current_user.is_authenticated() %}
            <div>
                <a href="{{ url_for('main.user', username=current_user.username) }}" class="text-sm mr-4 font-semibold pb-4 text-gray-800 hover:text-teal-600 border-b-2 border-solid border-transparent">
                    <img src="{{ current_user.gravatar(size=256) }}" class="demo-avatar">
                    {{ current_user.email }}
                </a>
            </div>
            <div>
                <a href="{{ url_for('auth.logout') }}" class="bg-teal-600 hover:bg-teal-800 text-white font-medium rounded-full py-2 px-4 ml-2">Sign Out</a>
            </div> 
            {% else %}
            <div>
                <a href="{{ url_for('auth.login') }}" class="text-sm mr-4 font-semibold pb-4 text-gray-800 hover:text-teal-600 border-b-2 border-solid border-transparent">
                    <img src="{{ url_for('static', filename='images/user.jpg') }}" class="demo-avatar">
                    Hello, Stranger !
                </a>
            </div>
            <div>
                <a href="{{ url_for('auth.login') }}" class="bg-teal-600 hover:bg-teal-800 text-white font-medium rounded-full py-2 px-4">Sign In</a>
            </div>
            <div>
                <a href="{{ url_for('auth.register') }}" class="bg-teal-600 hover:bg-teal-800 text-white font-medium rounded-full py-2 px-4 ml-2">Sign Up</a>
            </div>
            {% endif %}
        </div>
    </div>
</div>
