<html lang="en">
<head>
    {% block head %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <title>{% block title %}{% endblock %} - socialite app</title>
    {% assets "root_css" %}
        <link rel="stylesheet" href="{{ ASSET_URL }}" media="screen,projection" />
    {% endassets %}

    {% assets "root_js" %}
        <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" type="text/css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    {{ moment.include_jquery() }}
    {{ moment.include_moment() }}
    {% endblock %}
</head>
<body>
<div class="demo-layout mdl-layout mdl-js-layout mdl-layout--fixed-header">


    <main class="mdl-layout__content mdl-color--grey-100">
        <div class="mdl-grid demo-content">
            {% for message in get_flashed_messages() %}
            <div class="alert alert-info alert-dismissable">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
                {{ message }}
            </div>
            {% endfor %}

            {% block content %}
            {% endblock %}

            {% block credits %}
            {% include 'partials/credits.html' %}
            {% endblock %}
        </div>
    </main>
</div>


{% block scripts %}
    <script src="{{ url_for('static', filename='js/lib/materialize.min.js') }}" type="text/javascript"></script>
{% endblock %}

</body>
</html>
