<html lang="en">
<head>
    {% block head %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <title>{% block title %}{% endblock %} - socialite app</title>
    <link href="{{ url_for('static', filename='styles/vendors/material.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='styles/styles.css') }}" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" type="text/css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    {{ moment.include_jquery() }}
    {{ moment.include_moment() }}
    {% endblock %}
</head>
<body>
<div class="demo-layout mdl-layout mdl-js-layout mdl-layout--fixed-drawer mdl-layout--fixed-header">

    {% block navbar %}
    {% include 'partials/navbar.html' %}
    {% endblock %}

    {% block dashboard %}
    {% include 'partials/dashboard.html' %}
    {% endblock %}

    <main class="mdl-layout__content mdl-color--grey-100">
        <div class="mdl-grid demo-content">
            {% for message in get_flashed_messages() %}
            <div class="alert alert-info">
                <button type="button" class="close" data-dismiss="alert">close</button>
                {{ message }}
            </div>
            {% endfor %}

            {% block content %}
            {% endblock %}
        </div>
    </main>
</div>

{% block scripts %}
<!--<script src="{{ url_for('static', filename='scripts/vendors/jquery.min.js') }}"></script>-->
<script src="{{ url_for('static', filename='scripts/vendors/material.min.js') }}"></script>
{% endblock %}

</body>
</html>
