{% extends "base.html" %}
{% block title %}Contact form{% endblock %}
{% block head %}
{{ super() }}
<style>
</style>
{% endblock %}

{% block navbar %}
{{ super() }}
{% endblock %}

{% block dashboard %}
{{ super() }}
{% endblock %}

{% block content %}
{{ super() }}

<section class="container mx-auto px-4 py-6">
    <div class="w-full">

        <h1 class="text-gray-900 font-bold text-xl mb-6">Contact us</h1>

        <p class="text-gray-600 text-sm">Fill the form below to send me a message. I will answer you in the 48 hours.</p>

        {% if success %}
        <div class="bg-teal-100 border-t-4 border-teal-500 rounded-b text-teal-900 px-4 py-3 shadow-md" role="alert">
            Thank you for your message. We'll get back at you shortly.
        </div>
        {% endif %}

        <form method="post" name="contact_us" action="{{ url_for('main.contact_us') }}">
            {{form.hidden_tag()}}
            <div class="mb-4">
                <label for="name" class="validate font-bold text-gray-600 block mb-2">Name</label>
                {{form.name(class_='block appearance-none w-full bg-white border border-gray-200 hover:border-gray-400 px-2 py-2 rounded shadow')}}
            </div>

            {% for error in form.errors.name %}
                <p class="text-red-600">{{error}}</p>
            {% endfor %}


            <div class="mb-4">
                <label for="name" class="validate font-bold text-gray-600 block mb-2">Email</label>
                {{form.email(class_='block appearance-none w-full bg-white border border-gray-200 hover:border-gray-400 px-2 py-2 rounded shadow')}}
            </div>

            {% for error in form.errors.email %}
                <p class="text-red-600">{{error}}</p>
            {% endfor %}


            <div class="mb-4">
                <label for="name" class="validate font-bold text-gray-600 block mb-2">Subject</label>
                {{form.subject(class_='block appearance-none w-full bg-white border border-gray-200 hover:border-gray-400 px-2 py-2 rounded shadow')}}
            </div>

            {% for error in form.errors.subject %}
            <p class="text-red-600">{{error}}</p>
            {% endfor %}


            <div class="mb-4">
                <label for="name" class="validate font-bold text-gray-600 block mb-2">Message</label>
                {{form.message(class_='block appearance-none w-full bg-white border border-gray-200 hover:border-gray-400 px-2 py-2 rounded shadow')}}
            </div>

            {% for error in form.errors.message %}
                <p class="text-red-600">{{error}}</p>
            {% endfor %}

            <div class="mb-4">
                <button type="submit" class="bg-teal-600 hover:bg-teal-800 text-white font-bold py-2 px-4 rounded">Send a message</button>
            </div>
        </form>

    </div>
</section>

{% endblock %}


{% block scripts %}
{{ super() }}
{% endblock %}
