{% extends "base.html" %}
{% block title %}Contact form{% endblock %}
{% block head %}
{{ super() }}
<style>
</style>
{% endblock %}

{% block navbar %}
{{ super() }}
{% endblock %}

{% block dashboard %}
{{ super() }}
{% endblock %}

{% block content %}
{{ super() }}

<section class="container">
    <div class="row">
        <div class="col s12">
            <div class="card-panel light-grey">


        <h4>Contact us</h4>

        <p>Fill the form below to send me a message. <br>I swear i answer you in the 48 hours.</p>

        {% if success %}
        <div>
            Thank you for your message. We'll get back at you shortly.
        </div>
        {% endif %}

        <form method="post" name="contact_us" action="{{ url_for('main.contact_us') }}">
            {{form.hidden_tag()}}
            <div class="input-field">
                {{form.name()}}
                <label for="name">Name</label>
            </div>

            {% for error in form.errors.name %}
                <p style="color: red;">{{error}}</p>
            {% endfor %}


            <div class="input-field">
                {{form.email()}}
                <label for="name">Email</label>
            </div>

            {% for error in form.errors.email %}
                <p style="color: red;">{{error}}</p>
            {% endfor %}


            <div class="input-field">
                {{form.subject()}}
                <label for="name">Subject</label>
            </div>

            {% for error in form.errors.subject %}
            <p style="color: red;">{{error}}</p>
            {% endfor %}


            <div class="input-field">
                {{form.message(class_="materialize-textarea")}}
                <label for="name">Message</label>
            </div>

            {% for error in form.errors.message %}
                <p style="color: red;">{{error}}</p>
            {% endfor %}

            <div class="input-field center-align">
                <button type="submit" class="waves-effect waves-light btn">Send a message</button>
            </div>
        </form>

    </div>
    </div>
    </div>


</section>

{% endblock %}


{% block scripts %}
{{ super() }}
{% endblock %}
