{% extends "base.html" %}
{% block title %}Edit your profile{% endblock %}

{% block head %}
{{ super() }}
    <style>
    </style>
{% endblock %}

{% block navbar %}
{{ super() }}
{% endblock %}

{% block dashboard %}
{{ super() }}
{% endblock %}

{% block content %}
{{ super() }}
<div class="demo-charts mdl-color--white mdl-shadow--2dp mdl-cell mdl-cell--12-col mdl-grid">
 <h4> Edit your profile </h4>

 <form method="post" name="edit_profile">
     {{form.hidden_tag()}}
     <div>
         <label for="name">Real name</label>
         <div class="mdl-textfield mdl-js-textfield">
           {{form.name(size=64)}}
         </div>
     </div>
     {% for error in form.errors.name %}
     <span style="color: gray;">{{error}}</span>
     {% endfor %}
     <div>
         <label for="location">Location</label>
         <div class="mdl-textfield mdl-js-textfield">
           {{form.location(size=64)}}
         </div>
     </div>
     {% for error in form.errors.location %}
     <span style="color: gray;">{{error}}</span>
     {% endfor %}

     <div>
         <label for="about_me">About me</label>
         <div class="mdl-textfield mdl-js-textfield">
           {{form.about_me(size=64)}}
         </div>
     </div>
     {% for error in form.errors.about_me %}
     <span style="color: gray;">{{error}}</span>
     {% endfor %}

     <div>
         <button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">Edit</button>
     </div>
 </form>

</div>
{% endblock %}



{% block scripts %}
{{ super() }}
{% endblock %}
