{% extends "base.html" %}
{% block title %}Edit your profile{% endblock %}

{% block head %}
{{ super() }}
    <style>
    </style>
{% endblock %}

{% block navbar %}
{{ super() }}
{% endblock %}

{% block dashboard %}
{{ super() }}
{% endblock %}

{% block content %}
{{ super() }}
<div class="container">
    <div class="row">
        <div class="col s12">
            <div class="card-panel light-grey">
 <h3> Edit your profile </h3>

 <form method="post" name="edit_profile">
     {{form.hidden_tag()}}
     <div class="input-field">
         <label for="name">Real name</label>
           {{form.name(size=64)}}
     </div>
     {% for error in form.errors.name %}
     <p style="color: gray;">{{error}}</p>
     {% endfor %}

     <div class="input-field">
         <label for="location">Location</label>
           {{form.location(size=64)}}
     </div>

     {% for error in form.errors.location %}
     <p style="color: gray;">{{error}}</p>
     {% endfor %}

     <div class="input-field">
         <label for="about_me">About me</label>
           {{form.about_me(size=64, class_="materialize-textarea")}}
     </div>

     {% for error in form.errors.about_me %}
        <p style="color: gray;">{{error}}</p>
     {% endfor %}


     {% if current_user.is_administrator() %}
         <div class="input-field">
             <label for="email">Email</label>
               {{form.email(size=64)}}
         </div>
         {% for error in form.errors.email %}
         <p style="color: gray;">{{error}}</p>
         {% endfor %}

         <div class="input-field">
             <label for="username">Username</label>
               {{form.username(size=64)}}
         </div>

         {% for error in form.errors.username %}
         <p style="color: gray;">{{error}}</p>
         {% endfor %}

         <div class="input-field">
               {{form.confirmed(size=64)}}
               <label for="confirmed">confirmed</label>
         </div>

         {% for error in form.errors.confirmed %}
         <p style="color: gray;">{{error}}</p>
         {% endfor %}


         <div class="input-field">
             {{form.role(size=64)}}
             <label for="role">Role</label>
         </div>

         {% for error in form.errors.role %}
         <p style="color: gray;">{{error}}</p>
         {% endfor %}

     {% endif %}

     <div class="input-field">
         <button type="submit" class="waves-effect waves-light btn">Edit profile</button>
     </div>
 </form>

</div>
</div>
</div>
</div>
{% endblock %}



{% block scripts %}
{{ super() }}
{% endblock %}
