{% extends "base.html" %}
{% block title %}Edit post{% endblock %}

{% block head %}
{{ super() }}
    <style>
    </style>
{% endblock %}

{% block navbar %}
{{ super() }}
{% endblock %}

{% block dashboard %}
{{ super() }}
{% endblock %}

{% block content %}
{{ super() }}

<section class="container">

 <h4> Edit post </h4>

 <p>Edit your post using the form below.</p>

 <form method="post" name="edit_profile">
     <div class="card">
         <div class="card-content">
         {{form.hidden_tag()}}
         <label for="body">Post</label>
         <div class="input-field">
               {{form.body(class="materialize-textarea")}}
         </div>
         {% for error in form.errors.body %}
         <p style="color: red;">{{error}}</p>
         {% endfor %}


         <button type="submit" class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add</i></button>
     </div>
    </div>
 </form>

</section>
{% endblock %}



{% block scripts %}
{{ super() }}
{{ pagedown.include_pagedown() }}
{% endblock %}
