{% extends "base.html" %}
{% import "partials/_macros.html" as macros %}
{% block title %} {{ title }} {{ user.username }} {% endblock %}

{% block head %}
{{ super() }}
    <style>
    </style>
{% endblock %}

{% block navbar %}
{{ super() }}
{% endblock %}

{% block dashboard %}
{{ super() }}
{% endblock %}

{% block content %}
{{ super() }}

<section class="container">
    <div class="row">
        <div class="col s12">
            <div class="card-panel light-grey">

                <h5>{{ title }} <em>{{ user.username }}</em></h5>

    <table class="table responsive-table highlight table-hover followers">
        <thead>
            <tr>
                <th>User</th>
                <th>Since</th>
            </tr>
        </thead>
        {% for follow in follows %}
        {% if follow.user != user %}
        <tr>
            <td>
                <a href="{{ url_for('.user', username = follow.user.username) }}" class="valign-wrapper">
                    <img class="circle" src="{{ follow.user.gravatar(size=32) }}">
                    {{ follow.user.username }}
                </a>
            </td>
            <td>{{ moment(follow.timestamp).format('L') }}</td>
        </tr>
        {% endif %}
        {% endfor %}
    </table>
    <div class="pagination center-align">
        {{ macros.pagination_widget(pagination, endpoint, username = user.username) }}
    </div>
</div>
</div>
</div>
</section>


{% endblock %}



{% block scripts %}
{{ super() }}
{% endblock %}
