{% extends "base.html" %}
{% import "partials/_macros.html" as macros %}
{% block title %}Home{% endblock %}
{% block head %}
{{ super() }}
    <style>
    </style>
{% endblock %}

{% block navbar %}
{{ super() }}
{% endblock %}

{% block dashboard %}
{{ super() }}
{% endblock %}

{% block content %}
{{ super() }}
<section class="mdl-color--white mdl-shadow--2dp section--center  mdl-cell mdl-cell--12-col mdl-grid ">
    {% if current_user.can(Permission.WRITE_ARTICLES) %}
    <form method="post" name="write_articles">
        {{form.hidden_tag()}}
        <div>
            <label for="body">Whats 's on your mind ?</label>
            <div>
              {{form.body(class_="mdl-textfield__input")}}
            </div>
        </div>
        {% for error in form.errors.body %}
        <span class="mdl-textfield__error">{{error}}</span>
        {% endfor %}
        <br/>
        <div>
          <button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">Publish</button>
        </div>

    </form>
    {% else %}
    <div>Please sign in for joining the community.</div>
    {% endif %}
</section>

<section class="mdl-color--white mdl-shadow--2dp mdl-cell mdl-cell--12-col mdl-grid">
    <div class="mdl-layout__tab-bar mdl-js-ripple-effect">
      <a href="{{ url_for('.show_all') }}" {% if not show_followed %} class="mdl-layout__tab is-active"{% endif %}>All</a>
      {% if current_user.is_authenticated %}
      <a href="{{ url_for('.show_followed') }}" {% if show_followed %} class="mdl-layout__tab is-active"{% endif %} class="">Followers</a>
      {% endif %}
    </div>
    <main class="mdl-layout__content">
    <section class="mdl-layout__tab-panel is-active">
      <div class="page-content">
          {% include 'partials/_posts.html' %}
          {% if pagination %}
          <div class="pagination">
              {{ macros.pagination_widget(pagination, '.index') }}
          </div>
          {% endif %}
      </div>
    </section>
  </main>
</section>

{% endblock %}


{% block scripts %}
{{ super() }}
{{ pagedown.include_pagedown() }}
{% endblock %}
