{% extends "base.html" %}
{% import "partials/_macros.html" as macros %}
{% block title %}Home{% endblock %}
{% block head %}
{{ super() }}
<style>
</style>
{% endblock %}

{% block content %}
{{ super() }}
<div class="container mx-auto px-4 pt-6" id="index-banner">
    <div class="w-full">
        <ul class="flex">
            <li class="mr-3">
                <a href="{{ url_for('.show_all') }}" {% if not show_followed %} class="inline-block border border-teal-500 rounded py-1 px-3 bg-teal-500 text-white"{% endif %} class="inline-block border border-teal-500 rounded hover:border-teal-500 text-teal-500 hover:bg-gray-200 py-1 px-3" >All</a>
            </li>
            <li class="mr-3">
                {% if current_user.is_authenticated %}
                <a href="{{ url_for('.show_followed') }}" {% if show_followed %} class="inline-block border border-teal-500 rounded py-1 px-3 bg-teal-500 text-white"{% endif %} class="inline-block border border-teal-500 rounded hover:border-teal-500 text-teal-500 hover:bg-gray-200 py-1 px-3" >Followers</a>
                {% endif %}
            </li>            
        </ul>
        {% if current_user.can(Permission.WRITE_ARTICLES) %}
        <div class="card">
            <form method="post" name="write_articles">
                {{form.hidden_tag()}}

                <div class="text-right">
                    <label for="body" class="block text-gray-700 text-sm font-bold mb-2">Whats 's on your mind ?</label>
                    <div class="mb-4">
                        {{form.body(class_='w-full shadow-inner p-4 border-0')}}
                    </div>

                    <button type="submit" class="bg-teal-300 hover:bg-teal-400 text-white font-bold rounded-full inline-flex items-center -mt-5"><i class="material-icons">add</i></button>

                    {% for error in form.errors.body %}
                    <p class="text-red-600">{{error}}</p>
                    {% endfor %}
                </div>

            </form>
        </div>

        {% endif %}
    </div>
</div>

<div class="container mx-auto px-4">
    <div class="w-full">
        <div class="page-content">
            {% include 'partials/_posts.html' %}
            {% if pagination %}
            <div class="pagination center-align">
                {{ macros.pagination_widget(pagination, '.index') }}
            </div>
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}


{% block scripts %}
{{ super() }}
{{ pagedown.include_pagedown() }}
{% endblock %}
