{% extends "base.html" %}
{% import "partials/_macros.html" as macros %}
{% block title %}Home{% endblock %}
{% block head %}
{{ super() }}
    <style>
    </style>
{% endblock %}

{% block navbar %}
{{ super() }}
{% endblock %}

{% block dashboard %}
{{ super() }}
{% endblock %}

{% block content %}
{{ super() }}
<section class="mdl-color--white mdl-shadow--2dp section--center  mdl-cell mdl-cell--12-col mdl-grid ">
    {% if current_user.can(Permission.WRITE_ARTICLES) %}
    <form method="post" name="write_articles">
        {{form.hidden_tag()}}
        <div>
            <label for="body">Whats 's on your mind ?</label>
            <div class="mdl-textfield mdl-js-textfield">
              {{form.body(size=64)}}
            </div>
        </div>
        {% for error in form.errors.body %}
        <span style="color: gray;">{{error}}</span>
        {% endfor %}

        <div>
          <button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">Publish</button>
        </div>

    </form>
    {% else %}
    <div>Please sign in discuss with our team.</div>
    {% endif %}
</section>

<section class="mdl-color--white mdl-shadow--2dp mdl-cell mdl-cell--12-col mdl-grid">
    {% include 'partials/_posts.html' %}
    <div class="pagination">
        {{ macros.pagination_widget(pagination, '.index') }}
    </div>
</section>

<!--
<div class="demo-cards mdl-cell mdl-cell--4-col mdl-cell--8-col-tablet mdl-grid mdl-grid--no-spacing">
<div class="demo-updates mdl-card mdl-shadow--2dp mdl-cell mdl-cell--4-col mdl-cell--4-col-tablet mdl-cell--12-col-desktop">
  <div class="mdl-card__title mdl-card--expand mdl-color--teal-300">
    <h2 class="mdl-card__title-text">Updates</h2>
  </div>
  <div class="mdl-card__supporting-text mdl-color-text--grey-600">
    Non dolore elit adipisicing ea reprehenderit consectetur culpa.
  </div>
  <div class="mdl-card__actions mdl-card--border">
    <a href="#" class="mdl-button mdl-js-button mdl-js-ripple-effect">Read More</a>
  </div>
</div>
<div class="demo-separator mdl-cell--1-col"></div>
<div class="demo-options mdl-card mdl-color--deep-purple-500 mdl-shadow--2dp mdl-cell mdl-cell--4-col mdl-cell--3-col-tablet mdl-cell--12-col-desktop">
  <div class="mdl-card__supporting-text mdl-color-text--blue-grey-50">
    <h3>View options</h3>
    <ul>
      <li>
        <label for="chkbox1" class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect">
          <input type="checkbox" id="chkbox1" class="mdl-checkbox__input">
          <span class="mdl-checkbox__label">Click per object</span>
        </label>
      </li>
      <li>
        <label for="chkbox2" class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect">
          <input type="checkbox" id="chkbox2" class="mdl-checkbox__input">
          <span class="mdl-checkbox__label">Views per object</span>
        </label>
      </li>
      <li>
        <label for="chkbox3" class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect">
          <input type="checkbox" id="chkbox3" class="mdl-checkbox__input">
          <span class="mdl-checkbox__label">Objects selected</span>
        </label>
      </li>
      <li>
        <label for="chkbox4" class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect">
          <input type="checkbox" id="chkbox4" class="mdl-checkbox__input">
          <span class="mdl-checkbox__label">Objects viewed</span>
        </label>
      </li>
    </ul>
  </div>
  <div class="mdl-card__actions mdl-card--border">
    <a href="#" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-color-text--blue-grey-50">Change location</a>
    <div class="mdl-layout-spacer"></div>
    <i class="material-icons">location_on</i>
  </div>
</div>
</div>-->
{% endblock %}


{% block scripts %}
{{ super() }}
{% endblock %}
