{% extends "base.html" %}
{% block title %}Post{% endblock %}
{% block head %}
{{ super() }}
    <style>
    </style>
{% endblock %}

{% block navbar %}
{{ super() }}
{% endblock %}

{% block dashboard %}
{{ super() }}
{% endblock %}

{% block content %}
{{ super() }}

<section class="mdl-color--white mdl-shadow--2dp mdl-cell mdl-cell--12-col mdl-grid">
    {% include 'partials/_posts.html' %}
</section>

<section class="mdl-color--white mdl-shadow--2dp mdl-cell mdl-cell--12-col mdl-grid">
    <h4 class="mdl-cell mdl-cell--12-col mdl-typography--headline">Comments</h4>
    {% if current_user.can(Permission.COMMENT) %}
    <form method="post" name="write_comments">
        {{form.hidden_tag()}}
        <div class="mdl-textfield mdl-js-textfield">
            <label for="body" class="mdl-textfield__label">Add a comment</label>
            {{form.body(class_="mdl-textfield__input")}}
        {% for error in form.errors.body %}
        <span class="mdl-textfield__error">{{error}}</span>
        {% endfor %}
        </div>

        <div>
          <button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">Comment</button>
        </div>

    </form>
    {% else %}
    <div>Please sign in for joining the community.</div>
    {% endif %}
</section>

{% endblock %}


{% block scripts %}
{{ super() }}
{{ pagedown.include_pagedown() }}
{% endblock %}
