{% extends "base.html" %}
{% block title %}Permalink{% endblock %}
{% block head %}
{{ super() }}
    <style>
    </style>
{% endblock %}

{% block navbar %}
{{ super() }}
{% endblock %}

{% block dashboard %}
{{ super() }}
{% endblock %}

{% block content %}
{{ super() }}

<div class="container">
    <div class="card">
    {% if current_user.can(Permission.COMMENT) %}
    <form method="post" name="write_comments">
        {{form.hidden_tag()}}
        <div class="card-content">
            <label for="body" class="mdl-textfield__label">Leave a comment for this post</label>
            {{form.body(class_="materialize-textarea")}}
            {% for error in form.errors.body %}
            <p style="color: red;">{{error}}</p>
            {% endfor %}
        </div>

        <button type="submit" class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add</i></button>

    </form>
    {% endif %}
</div>
</div>

<div class="container">

    {% include 'partials/_posts.html' %}
</div>




{% endblock %}


{% block scripts %}
{{ super() }}
{{ pagedown.include_pagedown() }}
{% endblock %}
