{% extends "base.html" %}
{% block title %}{{ user.username }} 's profile{% endblock %}

{% block head %}
{{ super() }}
<style>
</style>
{% endblock %}

{% block navbar %}
{{ super() }}
{% endblock %}

{% block dashboard %}
{{ super() }}
{% endblock %}

{% block content %}
{{ super() }}



<div class="container">
    {% if current_user.is_authenticated() %}
        <p class="right-align"><br>Last seen {{ moment(user.last_seen).fromNow() }} &nbsp; <a href="{{ url_for('auth.logout') }}">Log Out</a></p>
    {% else %}
        <p class="right-align"><br>Last seen {{ moment(user.last_seen).fromNow() }}</p>
    {% endif %}

    <div class="card">
        <div class="card-content">
            <img src="{{ user.gravatar(size=166) }}" class="circle" />

            <div class="right">
                <h5 class="right-align"> {{ user.username }}
                {% if current_user.can(Permission.FOLLOW) and user != current_user %}
                {% if not current_user.is_following(user) %}
                <a class="waves-effect waves-light btn blue" href="{{ url_for('.follow', username=user.username) }}">Follow</a>
                {% else %}
                <a class="waves-effect waves-light btn grey" href="{{ url_for('.unfollow', username=user.username) }}">Unfollow</a>
                {% endif %}
                {% endif %}
                </h5>
                &nbsp;
                <a class="chip" href="{{ url_for('.followers', username=user.username) }}">Followers: {{ user.followers.count() }}</a>
                &nbsp;
                <a class="chip" href="{{ url_for('.followed_by', username=user.username) }}">Followed by: {{ user.followed.count() }}</a>

                {% if current_user.is_authenticated() and user != current_user and user.is_following(current_user) %}
                <span>Follows you</span>
                {% endif %}
            </div>
        </div>
        <div class="card-tabs">
            <ul class="tabs tabs-fixed-width">
                <li class="tab"><a class="active" href="#bio">Info</a></li>
                <li class="tab"><a href="#settings">Settings</a></li>
            </ul>
        </div>
        <div class="card-content grey lighten-5">
            <div id="bio">
                {% if user.name or user.location %}
                <p>
                    {% if user.name %}{{ user.name }}{% endif %}
                    {% if user.location %}
                    From <a href="http://maps.google.com/?q={{ user.location }}" target="_blank"> {{user.location }} </a>
                    {% endif %}
                </p>
                {% endif %}

                {% if user.about_me %}<p> {{ user.about_me }}</p> {% endif %}
                <div>
                    <p>Member since {{ moment(user.member_since).format('L') }}.
                    </p>
                </div>

            </div>
            <div id="settings">
                <ul>
                    {% if current_user.is_administrator() %}
                    <li><a href="mailto:{{user.email}}">{{ user.email }}</a></li>
                    {% endif %}

                    {% if user == current_user and not current_user.is_administrator()  %}
                    <li><a href="{{ url_for('.edit_profile') }}">Edit profile</a></li>
                    {% endif %}

                    {% if current_user.is_administrator() and user == current_user %}
                    <li><a href="{{ url_for('.edit_profile_admin', id=user.id) }}">Edit profile [Admin]</a></li>
                    {% endif %}
                    
                     {% if user == current_user and not current_user.is_administrator()  %}
                    <li>
                        <a href="{{ url_for('auth.change_password') }}">Change Password</a>
                    </li>
                     {% endif %}
                    
                     {% if user == current_user and not current_user.is_administrator()  %}
                    <li>
                        <a href="{{ url_for('auth.change_email_request') }}">Change Email</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>


    <h5 class="center-align">Posts by {{ user.username }}</h5>
    {% include 'partials/_posts.html' %}
</div>

{% endblock %}



{% block scripts %}
{{ super() }}
{% endblock %}
